@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
	margin: 0;
	font-family: inter;
	background-color: #0a0c1c;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.princi {
	display: flex;
	background-color: #1b1937;
	border-radius: 10px;
	overflow: hidden;
	width: 900px;
	height: 400px;
}
.text {
	padding: 40px;
	flex: 1;
}
.text h1 {
	font-size: 36px;
	margin: 0;
}
.text h1 span {
	color: #ab5cdb;
}
.text p {
	margin: 20px 0;
	font-size: 16px;
	color: white;
}
.stats {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.stat {
	text-align: center;
}
.stat h2 {
	margin: 0;
	font-size: 24px;
}
.stat p {
	margin: 5px 0 0;
	font-size: 14px;
}
.image {
	flex: 1;
	background: url("Bitmap\ \(1\).png") center center;
	filter: contrast(000080000000000000000000%);
}
